{
  "PISANO_APP_ID": "YOUR_APP_ID",
  "PISANO_ACCESS_KEY": "YOUR_ACCESS_KEY",
  "PISANO_API_URL": "YOUR_API_URL",
  "PISANO_FEEDBACK_URL": "YOUR_FEEDBACK_URL",
  "PISANO_EVENT_URL": "",
  "PISANO_LANGUAGE": "tr",
  "PISANO_DEBUG_LOGGING": "false"
}


